<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-business">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-general">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>General</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-favorites">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-headliner">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
